<aside class="sidebar">
  <div class="sidebar__content">
    <div class="sidebar__author pull--right">
      {% include avatar.html %}
      <p class="sidebar__introduction">
        Hi. My name is Anton Amlinger, and I am a software developer.
        This is where I scribble down my plans, ideas, projects and other
        things that I build.
      </p>
    </div>

    <ul class="sidebar__contact">
      <li class="sidebar__contact-item">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span class="icon icon--rss">{% include svg/rss.svg %}</span>
        </a>
      </li>
      <li class="sidebar__contact-item">
        <a href="mailto:{{ site.email }}">
          <span class="icon icon--mail">{% include svg/mail.svg %}</span>
        </a>
      </li>
      <li class="sidebar__contact-item">
        <a href="//github.com/{{ site.github_username }}"
           target="blank">
          <span class="icon icon--github">{% include svg/github.svg %}</span>
        </a>
      </li>
      <li class="sidebar__contact-item">
        <a href="//twitter.com/{{ site.twitter_username }}"
           target="blank">
          <span class="icon icon--twitter">{% include svg/twitter.svg %}</span>
        </a>
      </li>
      <li class="sidebar__contact-item">
        <a href="//linkedin.com/in/{{ site.linkedin_username }}"
           target="blank">
          <span class="icon icon--linkedin">{% include svg/linkedin.svg %}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar__background background--solid">
  </div>
</aside>
