
table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;

  margin-bottom: 20px;
  width: 100%;

  th {
    color:          #D5DDE5;
    background:     #0B566D;
    font-weight:    200;
    padding:        8px 10px;
    text-align:     left;
    text-shadow:    0 1px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    vertical-align: middle;

    border: none;

    &:last-child { border-top-right-radius: 3px; }
    &:first-child { border-top-left-radius: 3px; }
  }
  tr {
    color:#666B85;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

  tr:first-child {
    border-top:none;
  }

  tr:last-child {
    border-bottom:none;
  }

  tr:nth-child(odd) td {
    background: rgba(0, 0, 0, 0.05);
  }

  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }

  td {
    padding: 8px 10px;
    text-align:left;
    vertical-align: middle;
  }
}
